.image-str{
    padding-top: 1em;
}

.img-space{
    margin-left: 1em;
}

.img-sz{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 1em;
}

ul{
    list-style-type: none;
}

.wrapper{
    padding-top: 10px;
}